.containerForms {
   display: flex;
   flex: 1;
}
.containerForm h2 {
   margin-bottom: 10px;
}
.content {
   display: flex;
   padding: 10px 20px;
}

.containerForm {
   width: 400px;
   display: flex;
   flex-direction: column;
   padding: 10px 5px;
}

@media (min-width: 768px) {
   .content {
      flex-direction: row;
      justify-content: space-around;
   }
}

@media (max-width: 768px) {
   .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .containerForm:not(:last-child) {
      margin-bottom: 20px;
   }
   .containerForm {
      width: 100%;
   }
}
