.container {
   background-color: #ffffff;
   padding: 15px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
}
.containerTop {
   font-size: 22px;
}
.wrapperLine {
   position: relative;
   margin-top: 15px;
}

.line::before {
   content: '';
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   height: 1px;
   background: #adadad;
}

.row {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.row span {
   font-size: 16px;
   font-weight: 600;
   padding: 7px 0;
}

.fieldCoupon {
   display: flex;
   padding: 2px 0;
}

.fieldCoupon input[type='text'] {
   width: 100%;
   border: 1px solid rgb(170, 170, 170);
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   padding: 5px;
}

.fieldCoupon input[type='text']:focus-visible {
   outline: 0;
}

.fieldCoupon button {
   border: 1px solid rgb(170, 170, 170);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

.fieldCoupon button:hover {
   cursor: pointer;
}

.totalPrice {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.totalPrice span {
   font-size: 20px;
}

.rowBtn {
   text-align: center;
   margin-top: 10px;
}
