.time {
   margin-top: 10px;
   position: relative;
}

.time-enter-active {
   animation: show 0.7s forwards;
}

.time-ener-done {
   animation: show 0.7s reverse;
}

.time-exit-active {
   animation: show 0.7s reverse;
}

@keyframes show {
   0% {
      opacity: 0;
      transform: translateY(-200px);
   }
   30% {
      opacity: 0.3;
   }
   75% {
      opacity: 0.7;
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
