.burgerMenu {
   display: block;
   position: relative;
   width: 25px;
   height: 15px;
   cursor: pointer;
   margin-right: 25px;
}

.burgerMenu::before {
   content: '';
   background-color: #eaeaea;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   top: 0;
   transition: all 0.3s ease 0s;
}

.burgerMenu::after {
   content: '';
   background-color: #eaeaea;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   bottom: 0;
   transition: all 0.3s ease 0s;
}

.burgerMenu span {
   position: absolute;
   background-color: #eaeaea;
   left: 0;
   top: 6px;
   width: 100%;
   height: 2px;
   transition: all 0.3s ease 0s;
   user-select: none;
}

.burgerMenu.active span {
   transform: scale(0);
}

.burgerMenu.active::before {
   transform: rotate(45deg);
   top: 6px;
}

.burgerMenu.active::after {
   transform: rotate(-45deg);
   bottom: 6px;
}
