.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
   color: var(--main-purple);
   border: 1px solid var(--main-purple);
}

.ant-input:focus,
.ant-input-focused {
   border-color: var(--main-purple);
   box-shadow: 0 0 0 2px rgba(160, 36, 255, 0.2);
}

.ant-input:hover,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
   .ant-select-selector {
   border-color: var(--main-purple);
   box-shadow: 0 0 0 2px rgba(160, 36, 255, 0.2);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
   border-color: var(--main-purple);
}

.ant-checkbox-checked .ant-checkbox-inner {
   background-color: var(--main-purple);
   border-color: var(--main-purple);
}

.myModal .ant-modal-content {
   border-radius: 10px;
}

.slick-list {
   padding: 30px 0 !important;
}

main {
   flex: 1;
   padding: 80px 25px 25px;
   background-color: var(--main-background);
}

@media (max-width: 768px) {
   main {
      padding-left: 20px;
      padding-right: 20px;
   }
}

@media (max-width: 480px) {
   main {
      padding-left: 5px;
      padding-right: 5px;
   }
}
