@import '~antd/dist/antd.css';

:root {
   --main-radius: 10px;
   --main-dark: rgba(45, 45, 45, 0.85);
   --main-background: #f6f6f6;
   --main-purple: #8d36c0;
   --main-dark-purple: #6f3194;
   --main-red: #ec6338;
   --main-red-dark: #cf291b;
   --main-red-light: #f32;
   --main-pink: rgba(195, 7, 7, 0.30196);
   --main-regular-grey: #707070;
   --main-middle-grey: #acacac;
   --main-light-grey: #e3e3e3;
   --white: #fff;
   --main-white: #f4f4f4;
   --main-black: #434343;
   --main-yellow: #ecd038;
   --main-green: #7db522;
}

html {
}
body {
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
   padding: 0;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}

ul[class],
ol[class] {
   padding: 0;
}

a[class] {
   color: #000000;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

li[class] {
   list-style-type: none;
}

ul[class],
ol[class] {
   list-style: none;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
}

img {
   max-width: 100%;
   display: block;
}

article > * + * {
   margin-top: 1em;
}

input,
button,
textarea,
select {
   font: inherit;
}

@media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}
#root {
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0;
}

.root__spiner {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #8d36c0;
   padding: 10px;
}

.wrapper-messageErrors {
   display: inline-block;
   position: relative;
}

.wrapper-messageErrors:hover .toolTip {
   display: block;
}

.toolTip {
   display: none;
   position: absolute;
   background-color: #e4e4e4;
   bottom: 135%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
   white-space: nowrap;
   padding: 10px 17px;
   border-radius: 10px;
}
.toolTip::after {
   border-color: #e4e4e4 transparent transparent transparent;
   border-width: 5px;
   content: ' ';
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-style: solid;
}

.toolTip p {
   padding: 3px;
}

/* ----------Home------------- */
.topSelectorTypes {
   width: 100%;
   position: fixed;
   left: 0;
   top: 60px;
   z-index: 16;
   background-color: #fff;
   padding: 0 10px;
   font-family: 'PT-Root-Medium', sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #434343;
   border-bottom: 1px solid rgb(239, 239, 239);
}

.topSelectorTypes .itemSelectorTypes {
   text-decoration: none;
   color: var(--main-black);
   display: inline-block;
   padding: 12px 10px;
   cursor: pointer;
   transition: 0.3s;
   position: relative;
}

.topSelectorTypes .itemSelectorTypes.active {
   color: var(--main-purple);
}

.topSelectorTypes .itemSelectorTypes.active::after {
   content: '';
   width: 100%;
   height: 3px;
   z-index: 10;
   bottom: 0px;
   position: absolute;
   left: 0;
   transition: 0.3s;
   background-color: var(--main-purple);
}

.wrapperHome {
   padding: 40px 80px 10px;
   max-width: 1470px;
   display: flex;
   flex-direction: column;
}

@media (max-width: 1210px) {
   .wrapperHome {
      padding: 40px 10px 50px;
   }
}

@media (max-width: 547px) {
   .wrapperHome {
      padding: 40px 20px;
   }
}

@media (max-width: 480px) {
   .wrapperHome {
      padding: 40px 0;
   }
}

.listTypes {
   display: flex;
   align-items: center;
   gap: 10px;
}

.catalog {
   width: 100%;
}

.containerProducts {
   display: flex;
   flex-wrap: wrap;
}

.sectionSelectorCategories {
   display: flex;
   align-items: center;
   gap: 25px;
   padding-left: 15px;
}

.itemSelectorCategories {
   padding: 5px 15px;
   background-color: var(--main-light-grey);
   border-radius: 10px;
   cursor: pointer;
}

.itemSelectorCategories.active {
   background-color: transparent;
   color: var(--main-purple);
   border: 1px solid var(--main-purple);
}

.titleType {
   padding: 10px 15px;
   font-size: 1.1em;
   font-family: 'PT-Root-Bold', sans-serif;
}
