.wrapperUploader {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.dropArea {
   width: 100%;
   text-align: center;
   border: 1px solid #d9d9d9;
   padding: 20px;
   margin-bottom: 10px;
   cursor: pointer;
   transition: border-color 0.3s;
}

.dropArea input {
   display: none !important;
}

.active {
   border: 1px dashed #40a9ff;
}

.dropArea:hover {
   border: 1px dashed #40a9ff;
}

.uploadIcon {
   font-size: 42px;
   color: #40a9ff;
}

.containerFiles {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.itemFile {
   width: 100%;
   height: 80px;
   border: 1px solid #d9d9d9;
   padding: 5px 15px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.wrapperImg {
   height: 70px;
   width: 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.wrapperImg img {
   max-height: 100%;
   object-fit: cover;
}

.inputFile {
   display: none;
}
