.container {
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   padding: 15px;
   border: 1px solid var(--main-light-grey);
   border-radius: var(--main-radius);
}

.containerTop {
   margin-bottom: 10px;
}

.immediatelyOrTime {
   display: flex;
   justify-content: space-around;
   padding: 7px;
}

.containerTextOrSelect {
   min-height: 72px;
   align-items: center;
   justify-content: center;
}

.rowDataAndTime {
   width: 100%;
   justify-content: space-around;
   margin: 5px;
}

.roweStimatedDeliveryTime {
   justify-content: center;
   justify-content: space-evenly;
   padding: 5px;
}

.smsNotImmediatelyDelicery {
   font-size: 13px;
   text-align: center;
}

.containerBtn {
   margin-top: 10px;
   text-align: center;
}

.select {
   width: 120px;
}

.select div {
   border-radius: 10px !important;
}
