.container {
   background-color: #ffffff;
   padding: 15px;
   display: flex;
   flex-direction: column;
   border: 1px solid var(--main-light-grey);
   border-radius: var(--main-radius);
}

.header {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.header span {
   font-size: 22px;
   margin-right: 5px;
}

.itemForm {
   border-radius: 10px;
   margin: 7px 0;
}

.selectAddress {
   margin: 7px 0;
   width: 100%;
}

.selectAddress div {
   border-radius: 10px !important;
}

.addAddress {
   opacity: 1;
   padding: 5px 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.addAddress::after {
   content: '+';
   font-size: 18px;
   margin-left: 5px;
}

.addAddress:hover {
   cursor: pointer;
   opacity: 1;
}

.radioGroup {
   display: flex;
   justify-content: space-around;
   padding: 7px 0;
   border-radius: 10px;
   background-color: aliceblue;
}

.radio .ant-radio {
   background-color: transparent;
   border: none;
   width: 50%;
   align-items: center;
   justify-content: center;
   color: #acacac;
}

.rowDataApartament {
   display: flex;
   padding: 7px 0;
}

.rowDataApartament input:first-child {
   margin-right: 15px;
}

.rowDataApartament input:last-child {
   margin-left: 15px;
}

.intercom {
   margin: 10px 0;
}

.containerBtn {
   text-align: center;
}
