.card {
   width: calc((100% - (10px * 5 * 2)) / 5);
   margin: 10px;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0px -2px 5px rgb(0 0 0 / 14%), 0px 8px 8px rgb(0 0 0 / 4%);
   transition: all 0.3s;
}

.card:hover {
   transform: translateY(-5px);
   box-shadow: 0px -2px 8px rgb(0 0 0 / 4%), 0px 8px 8px rgb(0 0 0 / 20%);
}
.wrapperImg {
   min-height: 150px;
   padding: 3px;
}

.wrapperImg img {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.contentTitle {
   text-align: center;
   padding: 2px 5px;
}

.contentBody {
   padding: 2px 7px;
}

.containerDescription {
   padding: 2px 5px;
   position: relative;
}

.content__hover {
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 2px 7px;
   background-color: #fff;
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s;
}

.card:hover .content__hover {
   opacity: 1;
   visibility: visible;
   box-shadow: -2px -8px 8px -4px rgba(0, 0, 0, 0.2);
}

.contentTitle {
   text-align: center;
}

.cardBottom {
   text-align: center;
   padding: 2px 5px 10px;
   margin-top: auto;
}

.bottomRate {
   margin-bottom: 10px;
}

.bottomPriceBtn {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-evenly;
   column-gap: 10px;
   padding: 2px;
}

.containerBtn button {
   display: flex;
   align-items: center;
   border-radius: 10px;
   padding: 18px 10px;
   font-size: 1.15em;
}

button .iconButton {
   margin-right: 5px;
   font-size: 1.4em;
}

button .priceInButton {
   display: none;
}

@media (max-width: 1210px) {
   .card {
      width: calc((100% - (10px * 4 * 2)) / 4);
   }
}

@media (max-width: 992px) {
   .card {
      width: calc((100% - (10px * 3 * 2)) / 3);
   }
}

@media (max-width: 768px) {
   .card {
      width: calc((100% - (10px * 2 * 2)) / 2);
   }
}

@media (max-width: 560px) {
   .containerBtn button {
      font-size: 1em;
      padding: 17px 10px;
   }
}

@media (max-width: 480px) {
   .bottomPriceBtn {
      justify-content: center;
   }
   .price {
      display: none;
   }
   button .priceInButton {
      display: block;
      font-weight: 700;
      margin-right: 5px;
   }
   button .iconButton {
      display: none;
   }
}
