.wrapperManagerOrders {
   height: 100%;
   display: flex;
   flex-direction: column;
   font-size: 16px;
}

.containerSortOrders {
   margin-bottom: 10px;
}

.contentSortOrders {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.emailUserAndDateOrders {
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
}
.emailUserAndDateOrders span {
   max-width: 300px;
   margin-right: 20px;
}

.spinerLoadingOrders {
}

.containerOrders {
   flex: 1 1;
   padding: 10px;
}

.blockPagination {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.containerOrder {
   display: flex;
   flex-direction: column;
   padding: 15px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0px -2px 15px rgb(0 0 0 / 10%), 0px 8px 8px rgb(0 0 0 / 4%);
   margin-bottom: 15px;
}

.infoOrder {
   display: flex;
   justify-content: space-between;
}

.detailProductOrder {
   display: flex;
}

.productsOrder {
   margin-top: 10px;
}

.rightBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.statusOrder {
   padding: 3px 7px;
   border-radius: 10px;
}

.statusInProcessing {
   background-color: rgb(229, 229, 229);
}

.statusReadyDelivery {
   background-color: rgba(62, 228, 189, 0.64);
}

.statusInDelivery {
   background-color: rgb(239 204 89);
}

.statusDelivered {
   background-color: rgb(59 191 60 / 80%);
}

.statusСanceled {
   background-color: rgb(209, 129, 129);
}
