.wrapper {
   height: 100%;
   padding: 10px 20px;
   display: flex;
   flex-direction: column;
}

.container {
   flex: 1;
}

.top {
   display: flex;
   justify-content: space-between;
   padding: 5px;
   margin-bottom: 10px;
}

.top .containerSelectLimit {
   display: flex;
   align-items: center;
   gap: 5px;
}

.top .selectLimit {
   width: 75px;
}

.content ul {
   padding: 0;
   justify-content: center;
}

.containerBottom {
   display: flex;
   justify-content: center;
   margin-top: 40px;
}

.cardOrder {
   border-radius: 10px;
   border: 1px solid rgb(160, 160, 160);
   margin-bottom: 15px;
}

.containerInfoOrder {
   padding: 10px;
   font-size: 15px;
}

.containerInfoOrderTop {
   display: flex;
   justify-content: space-between;
}

.rootProducts {
   background-color: #fff;
   padding: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.containerBtn {
   display: flex;
   justify-content: center;
}

.btn {
   font-size: 15px;
   background-color: transparent;
   border: none;
   text-align: center;
   margin-bottom: 15px;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.btn::after {
   content: '';
   width: 8px;
   height: 8px;
   border-top: 2px solid #000000;
   border-right: 2px solid #000000;
   margin-left: 5px;
   transform: translateY(0) rotate(135deg);
   transition: all 0.35s;
}

.btn.active::after {
   transform: translateY(3px) rotate(-45deg);
}

.containerProducts {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-height: 0;
   transition: all 0.5s ease-out;
   overflow: hidden;
}

.containerProductsEnterActive {
   max-height: 100vh;
   transition: all 0.5s ease-in;
}

.containerProductsEnterDone {
   max-height: 100vh;
}

.containerProductsExitActive {
   max-height: 0;
}

.containerProductsExitDone {
   max-height: 0;
   overflow: hidden;
}

.contentProducts {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.containerImg {
   max-width: 140px;
   max-height: 120px;
   user-select: none;
}

.itemProduct {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.numberOrder {
   margin: auto 0;
   font-size: 16px;
   font-weight: 600;
}

.statusAccess {
   padding: 5px 10px;
   background-color: rgba(87, 223, 144, 0.678);
   border-radius: 10px;
   font-weight: 600;
   white-space: nowrap;
}

.statusInProcessing {
   padding: 5px 10px;
   background-color: rgba(223, 191, 87, 0.678);
   border-radius: 10px;
   font-weight: 600;
   white-space: nowrap;
   margin: auto 0;
}
