.containerTop {
   text-align: center;
   font-size: 1.5em;
}
.wrapperLimit {
   text-align: end;
}
.selectLimit {
   width: 70px;
   text-align: center;
}

.buttom {
   text-align: center;
   margin-top: 30px;
}

.containerForm {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.errorServer {
   height: 20px;
   color: #ff4d4f;
}

.rowInputWithBtn {
   display: flex;
   justify-content: center;
   height: 56px;
}

.row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: nowrap;
   padding: 7px 2px;
}

.layout {
   height: 100%;
   display: flex;
   flex: auto;
   flex-direction: column;
   min-height: 0;
}

.container {
   flex: 1;
}

.containerMain {
   display: flex;
}

.containerBottom {
   text-align: center;
   padding: 20px 0;
}

.containerRightBlock {
   padding: 5px 7px 5px 0;
}

.blockTypes {
   display: flex;
   align-items: center;
   padding: 5px 0;
}

.typeItem {
   width: fit-content;
   margin-right: 7px;
   padding: 7px 11px;
   cursor: pointer;
}

.blockCategories {
   display: flex;
   flex-direction: column;
}

.categoryItem {
   font-size: 18px;
   width: fit-content;
   padding: 7px 11px;
   cursor: pointer;
}

.active {
   color: var(--main-dark-purple);
   background-color: #fff;
   border-radius: 10px;
}

.contentProducts {
   padding: 5px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.card {
   max-width: 170px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
}

.cardContent {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;
}

.wrapperImg {
   max-height: 130px;
   min-height: 120px;
   max-width: 100%;
}

.sortUsers {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

.title {
   font-weight: 600;
   font-size: 16px;
   text-align: center;
}

.composition {
   padding: 5px;
}
.price {
   font-size: 18px;
   font-weight: 600;
   display: flex;
   margin-top: auto;
}
.cardButtom {
   margin-top: auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 5px 5px 10px;
}
