.container {
   background-color: #ffffff;
   padding: 15px;
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   border: 1px solid var(--main-light-grey);
   border-radius: var(--main-radius);
}

.containerTop {
   font-size: 21px;
   margin-bottom: 5px;
}

.field {
   min-height: 25px;
   margin: 4px 0;
   padding: 2px 10px;
   display: flex;
   align-items: center;
   user-select: none;
   opacity: 0.85;
   border: 1px solid var(--main-light-grey);
   border-radius: 10px;
}

.containerApartment {
   display: flex;
   justify-content: center;
}

.containerApartment div:first-child {
   margin-right: 10px;
}

.containerApartment div:last-child {
   margin-left: 10px;
}

.bottom {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}
