.fieldRoot {
   user-select: none;
   display: inline-flex;
   flex-direction: column;
   position: relative;
   min-width: 0;
   padding: 0;
   margin: 0;
   border: 0;
   vertical-align: top;
}

.fieldRoot input:focus {
   outline: 0;
}

.wrapperInput {
   line-height: 1.4375em;
   display: inline-flex;
   align-items: center;
   position: relative;
   font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 1rem;
   letter-spacing: 0.00938em;
   color: rgba(0, 0, 0, 0.87);
   box-sizing: border-box;
   cursor: text;
}

.wrapperInput::after {
   content: '';
   left: 0;
   bottom: 0;
   position: absolute;
   right: 0;
   transform: scaleX(0);
   transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
   border-bottom: 2px solid var(--main-purple);
   pointer-events: none;
}

.wrapperInput.focused::after {
   transform: scaleX(1);
}

.wrapperInput::before {
   border-bottom: 1px solid rgba(0, 0, 0, 0.42);
   left: 0;
   bottom: 0;
   content: '\00a0';
   position: absolute;
   right: 0;
   -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   pointer-events: none;
}

.ant-form-item-has-error .wrapperInput::after {
   border-color: #ff4d4f;
}

.ant-form-item-has-error .wrapperInput::before {
   border-color: #ff4d4f;
}

.inputLabel {
   display: flex;
   align-items: flex-end;
   color: rgba(0, 0, 0, 0.6);
   font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 1.4375em;
   letter-spacing: 0.00938em;
   padding: 0;
   transform-origin: top left;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
   transform: translate(5px, -5px) scale(1);
   transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.inputLabel.focused {
   transform: translate(5px, -20px) scale(0.85);
   color: var(--main-purple);
}

.fieldRoot input {
   min-width: 0;
   width: 100%;
   height: 1.5em;
   display: block;
   letter-spacing: inherit;
   color: currentColor;
   padding: 5px 0 2px;
   margin: 0;
   border: 0;
   box-sizing: content-box;
   background: none;
}

.iconAllowClear {
   color: rgba(0, 0, 0, 0.3);
   font-size: 12px;
   vertical-align: -1px;
   cursor: pointer;
   transition: color 0.3s;
   margin-right: 10px;
}

.iconAllowClear:hover {
   color: rgba(0, 0, 0, 0.6);
}

.iconEye {
   color: rgba(0, 0, 0, 0.5);
   vertical-align: -1px;
   transition: color 0.3s;
   margin-right: 10px;
}

.iconEye:hover {
   color: rgba(0, 0, 0, 0.8);
}
