.layout {
   height: 100%;
   display: flex;
   flex: auto;
   flex-direction: column;
   min-height: 0;
}

.containerTop {
   text-align: center;
   font-size: 1.5em;
}

.container {
   flex: 1;
}

.sectionTodays {
   display: flex;
   justify-content: flex-start;
}

.cardTodays {
   width: 250px;
   min-height: 200px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 5px 15px rgb(0 0 0 / 20%), 0px 8px 8px rgb(0 0 0 / 4%);
   font-size: 16px;
   margin: 15px;
   padding: 10px;
}

.sectionGraphics {
   display: flex;
   flex-direction: column;
}

.cardGraphics {
   border-radius: 15px;
   padding: 10px;
   box-shadow: 0px 5px 15px rgb(0 0 0 / 20%), 0px 8px 8px rgb(0 0 0 / 4%);
   margin: 15px;
}
