.containerCourierNames {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 10px;
}

.nameCourier {
   display: flex;
   align-items: center;
   font-size: 15px;
}

.colorCourier {
   height: 10px;
   width: 10px;
   margin-left: 7px;
}
