.title {
   text-align: center;
   margin-bottom: 10px;
}

.bar {
   display: flex;
   margin-bottom: 15px;
   justify-content: space-between;
}

.containerMap {
   width: 100%;
   height: 450px;
}

.contanerNoMap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex: 1;
}

.containerMap .title {
}

.wrapperImgMap {
   display: flex;
   flex: 1;
   justify-content: center;
}

.wrapperImgMap img {
   max-height: 100%;
   min-height: 100%;
   height: 0;
}
