.wrapperToggler {
   background-color: #f4f4f4;
   border-radius: 5px;
   padding: 3px;
   margin: 5px 0;
}

.containerToggler {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.togglerButton {
   width: 45%;
   border-radius: 5px;
   text-align: center;
   padding: 3px 5px;
   border-radius: 5px;
   background-color: transparent;
}

.togglerButton.checked {
   background-color: #ffffff;
   border: 1px solid var(--main-purple);
}

.togglerButton span {
   opacity: 0.5;
}

.togglerButton.checked span {
   opacity: 1;
}

.contentTogglerButton.checked {
   background-color: #a0a0a0;
}

.togglerButton input[type='radio'] {
   display: none;
}
