.container {
   display: flex;
   flex: 1;
}

.input {
   width: 100%;
   border: 1px solid #d9d9d9;
   padding: 2px 20px;
}

.input:hover {
   border-color: var(--main-purple);
}

.input:focus {
   outline: none;
   border-color: var(--main-purple);
}
