.wrapper {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.container {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
   justify-content: center;
}

.wrapperLogo {
}

.wrapperName {
}

.wrapperName h1 {
   font-family: serif;
   font-style: italic;
   font-size: 40px;
   color: #515151;
}
