.wrapper {
   margin: 20px 0;
}

.wrapper button {
   background-color: #000 !important;
}

.container {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0px -2px 5px rgb(0 0 0 / 14%), 0px 8px 8px rgb(0 0 0 / 4%);
}

.title {
   display: flex;
   justify-content: center;
   padding: 20px;
   font-size: 2.3em;
   color: #3f3f3f;
}

.containerImages {
   display: flex;
   justify-content: space-evenly;
}

.containerProduct {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.containerDescription {
   display: flex;
   flex-direction: column;
}

.containerDescription .name {
   text-align: center;
   font-size: 1.6em;
   color: #2d2d2dd9;
}

.containerRate {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.containerDescription .price {
   font-size: 1.5em;
   font-weight: 600;
   color: #000;
   margin-left: 10px;
}

.wrapperImg {
   height: 250px;
}

.wrapperImg img {
   max-height: 100%;
}

@media (max-width: 768px) {
   .title {
      font-size: 2em;
   }
   .containerDescription .name,
   .containerDescription .price {
      font-size: 1.3em;
   }
   .wrapperImg {
      height: 200px;
   }
}

@media (max-width: 480px) {
   .title {
      font-size: 1.6em;
   }
   .containerDescription .name {
      font-size: 1.2em;
      font-weight: 500;
   }
   .containerDescription .price {
      font-size: 1em;
   }
   .wrapperImg {
      height: 120px;
   }
}
