.wrapperAuth .form {
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 0 10px;
}

.top {
   padding: 10px;
   text-align: center;
}

.subTitle {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}

.row {
   padding: 5px 0;
}

.errors {
   user-select: none;
   height: 22px;
   text-align: center;
   color: #ff4d4f;
   margin-bottom: 10px;
}

.containerButton {
   padding-bottom: 15px;
}

.containerButton button {
   width: 100%;
}

.bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.bottom a {
   color: #252525;
   text-decoration: none;
   font-family: 'PT-Root-Medium', sans-serif;
}

.bottom a:hover {
   color: var(--main-purple);
}

.bodyCompleteSendLink {
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.bodyCompleteSendLink button {
   width: 100%;
}

.containerTimedOut,
.containerCompleteReset {
   display: flex;
   flex-direction: column;
   height: 250px;
   justify-content: flex-end;
}

.containerTimedOut button {
   margin-bottom: 20px;
}

.containerImg {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
   padding: 20px;
}

.containerImg img {
   max-height: 100%;
   min-height: 100%;
   height: 0;
   object-fit: contain;
}
