header {
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   -webkit-backdrop-filter: blur(28px);
   backdrop-filter: blur(28px);
   background-color: var(--main-dark);
   z-index: 20;
   height: 60px;
}

.headerContent {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3px 20px;
}

.headerLeftBlock {
   display: flex;
   align-items: center;
}

.headerLeftBlock .headerWrapperLogo {
   height: 55px;
   cursor: pointer;
}

.headerLeftBlock .headerWrapperLogo img {
   max-height: 100%;
   max-width: 100%;
}

.headerLeftBlock .headerTitle {
   font-size: 1.6em;
   color: #fff;
   cursor: pointer;
   transition: color 0.2s;
   font-family: serif;
}

.headerLeftBlock .headerTitle:hover {
   color: rgb(236, 236, 236);
}

.headerRightBlock {
   display: flex;
   align-items: center;
   gap: 20px;
}

@media (max-width: 400px) {
   .headerLeftBlock .headerTitle {
      display: none;
   }
   .headerRightBlock {
      gap: 10px;
   }
}

.managment:hover > .headerPopup {
   display: block;
}

.managment,
.auth {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #fff;
   padding: 2px 10px;
   cursor: pointer;
   position: relative;
}

.managmentIcon,
.authIcon {
   font-size: 1.5em;
   color: rgba(45, 45, 45, 0.95);
   background-color: var(--main-background);
   padding: 3px;
   border-radius: 50%;
}
.managment:hover .managmentIcon,
.auth:hover .authIcon {
   color: var(--main-dark-purple);
}

.nameRoleUser {
   font-size: 0.9em;
}

.authNameUser {
   font-size: 1em;
}

.headerPopup {
   min-width: 200px;
   display: none;
   position: absolute;
   z-index: 10;
   top: 100%;
   right: 0;
   font-size: 16px;
   box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
   background-color: #fff;
   border-radius: 10px;
   padding: 10px;
}

.auth:hover .headerPopup {
   display: block;
}

.headerPopup .headerPopupContent {
   padding: 10px;
}

.listHeaderPopup li {
   color: #434343;
   padding: 7px 12px;
   border-radius: 10px;
}

.listHeaderPopup li:hover {
   background-color: var(--main-light-grey);
}

.cart {
   display: flex;
   align-items: center;
   padding: 4px 8px;
   background-color: var(--main-background);
   border-radius: 10px;
   cursor: pointer;
}

.cartSum {
   color: rgba(45, 45, 45, 0.95);
   font-weight: 500;
   padding-left: 3px;
   font-size: 1.2em;
}
.spinCartSum {
   width: 35px;
   text-align: center;
}

.spinCartSum div {
   color: var(--main-purple);
}

.spinCartSum div span {
   font-size: 18px;
}

.cart .cartIcon {
   color: rgba(45, 45, 45, 0.95);
   font-size: 2em;
}

.cart:hover .cartIcon {
   color: var(--main-dark-purple);
}
