.button {
   border: 1px solid var(--main-light-grey);
   border-radius: var(--main-radius);
   height: 200px;
   width: 100%;
}

.button span {
   font-size: 22px;
}

.wrrapperButton {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.rootOrder {
   height: 100%;
   padding: 10px;
   display: flex;
   justify-content: center;
}

.containerEmpty {
   display: flex;
   justify-content: center;
   flex: 1;
   flex-direction: column;
}

.wrapperTitle {
   display: flex;
   margin-bottom: 15px;
}

.wrapperTitle h1 {
   color: rgba(0, 0, 0, 0.85);
   font-weight: 600;
   font-family: serif;
}

.containerEmpty .wrapperImg {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
   background-color: #ffffff;
   padding: 3px 10px;
   border: 1px solid var(--main-light-grey);
   border-radius: var(--main-radius);
}

.containerPayOrDelivery h1 {
   color: rgba(0, 0, 0, 0.85);
   font-weight: 600;
   font-family: serif;
   display: flex;
   align-items: flex-end;
}

.wrapperOrder {
   width: 100%;
   max-width: 1270px;
   display: flex;
   gap: 30px;
}

.containerBasket {
   display: flex;
   flex-direction: column;
   flex: 65%;
   padding: 15px;
   background-color: #f5f5f5;
   border-radius: var(--main-radius);
   box-shadow: 0px -2px 15px rgb(0 0 0 / 16%), 0px 8px 8px rgb(0 0 0 / 6%);
}

.containerPayOrDelivery {
   flex: 35%;
   min-width: 280px;
   height: max-content;
   padding: 15px;
   background-color: #f5f5f5;
   box-shadow: 0px -2px 15px rgb(0 0 0 / 16%), 0px 8px 8px rgb(0 0 0 / 6%);
   border-radius: var(--main-radius);
   display: flex;
   flex-direction: column;
}

@media (max-width: 768px) {
   .rootOrder {
      display: block;
   }
   .wrapperOrder {
      flex-direction: column;
      gap: 15px;
   }
   .containerPayOrDelivery {
      max-width: 100%;
      margin-bottom: 10px;
   }
}

.payOrDeliveryEnterAtive {
   animation: payOrDelivery-in 700ms forwards;
}

.payOrDeliveryExitActive {
   animation: payOrDelivery-out 700ms forwards;
}

@keyframes payOrDelivery-in {
   0% {
      opacity: 0;
      transform: translateX(50%);
   }
   30% {
      opacity: 0.4;
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes payOrDelivery-out {
   0% {
      opacity: 1;
      transform: translateX(0);
   }
   30% {
      opacity: 0.5;
   }
   100% {
      opacity: 0;
      transform: translateX(50%);
   }
}

.containerLoginIn {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
}

.containerLoginIn .title {
   margin-bottom: 20px;
}

.containerLoginIn .wrapperImg {
   height: 300px;
   margin-top: auto;
}

.containerLoginIn .wrapperImg img {
   max-height: 100%;
}

.containerLoginIn .containerButtonLogin button {
   height: 40px;
   width: 250px;
   background-color: #ffffff;

   border: 1px solid var(--main-light-grey);
   border-radius: var(--main-radius);
}
