.emptyOrders,
.emptyAcceptOrder {
   font-size: 28px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.wrapperOrders {
   height: 100%;
}

.title {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   font-size: 22px;
}

.containerOrder {
   display: flex;
   flex-direction: column;
   padding: 15px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0px -2px 15px rgb(0 0 0 / 10%), 0px 8px 8px rgb(0 0 0 / 4%);
   margin-bottom: 15px;
}

.infoOrder {
   display: flex;
   justify-content: space-between;
}

.detailProductOrder {
   display: flex;
}

.productsOrder {
   margin-top: 10px;
}

.statusOrder {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
